.contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px;
  grid-gap: 10px;
}


h2{
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(238, 67, 67), rgb(0, 195, 255));
  border-bottom: 2px solid #000;
}

.box1 {
  grid-column: 1;
  grid-row: 7;
}

.box2 {
  grid-column: 1;
  grid-row: 1;
  background: linear-gradient(to right, rgb(238, 67, 67), rgb(0, 195, 255));
  width: 42%; /* Ancho al 100% del contenedor */
  height: 1000%; /* Altura al 100% del contenedor */
  border-radius: 8%; /* Hace que los bordes de la imagen sean redondos */
  z-index: -1; /* Colocamos el fondo detrás de todo el contenido */
}

img{
  border: 2px solid #333;
  max-width: 400px; /* Ajusta el tamaño de la imagen según tus preferencias */
  border-radius: 8%; /* Hace que los bordes de la imagen sean redondos */
  z-index: 1; /* Colocamos el fondo detrás de todo el contenido */
}

.box3 {
  grid-row: 1;
  grid-column: 2;
}

.box4 {
  grid-row: 8;
  grid-column: 1;
}

.box5 {
  grid-row: 6;
  grid-column: 2;
}

.box6 {
  grid-row: 7;
  grid-column: 2;
}
  
